.grupo-campos {
  margin-bottom: 5px;
}

.titulo-azul {
  color: var(--azul-100, #3365b4);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.title-mascota-abordo {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
}

.input-switch-pet input,
.input-switch-pet label {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 320px) {
  .input-switch-pet input,
  .input-switch-pet label {
    font-size: 1.1rem;
  }
}

.label-titulo-busqueda-servicio {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.button-busqueda-servicio {
  display: flex;
  width: 200px;
  height: 40px;
  padding: 0 52px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 16px;
  border: 1px solid;
  background: var(--naranjo-100, #ff6500);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.button-busqueda-servicio:hover {
  background: var(--naranjo-80, #f7853a);
}

.button-busqueda-servicio:disabled,
.button-busqueda-servicio:active,
.loading-button {
  background: var(--naranjo-80, #f8ccaf) !important;
  cursor: not-allowed;
}

.input {
  display: block !important;
}

.seleccion-servicio {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 8px #414141;
  border-radius: 16px;
  padding: 30px;
  background-color: #fff;
  margin-inline: auto;
  /* margin-top: -120px; */
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.input-container img {
  width: 25px;
  height: 25px;
  margin: 20px 0;
}

.svgImage {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  transition: filter 0.4s cubic-bezier(0.25, 0.1, 0.25, 1),
    transform 0.4s ease-out;
  cursor: pointer;
}

.svgShadow:hover {
  filter: drop-shadow(0 0 10px rgba(13, 110, 253, 0.7))
    drop-shadow(0 0 20px rgba(13, 110, 253, 0.4));
}

@media (max-width: 550px) {
  .seleccion-servicio {
    margin-top: 15vh;
  }

  .input-container {
    flex-direction: column;
  }

  .input-container img {
    width: 30px;
    height: 27px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .seleccion-servicio {
    margin-top: 45vh;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .seleccion-servicio {
    margin-top: 45vh;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .seleccion-servicio {
    margin-top: 45vh;
  }
}

@media (min-width: 1600px) {
  .seleccion-servicio {
    margin-top: 45vh;
  }
}
